<div class="row">
    <div class="col-md-3 text-center">
        <%= image_tag avatar_url(@other), class: "img-circle avatar-medium" %>
        <strong><%= @other.fullname %></strong>
        <%= link_to "View Profile", @other, class: "btn btn-default" %>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Conversation with <%= @other.fullname %>
                <input id="conversation_id" type="hidden" value="<%= @conversation.id %>">
            </div>
            <div class="panel-body text-center">
                <div class="container ">
                    <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
                    <div class="form-group">
                        <% f.text_field :context, placeholder: "Add a personal message", class: "form-control" %>
                    </div>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
                <%= f.submit "Send Message", class: "btn btn-normal" %>
            </div>
            <% end %>
        </div>

        <div id="chat">
            <%= render @messages %>
        </div>
        </div>
        </div>
