<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
        </ul>
        <br/>
        <%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-default" %>
    </div>
    <div class="col-md-9 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">Your Profile</div>
            <div class="panel-body">
                <div class="container">

                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                              <%= render 'shared/devisemes' %>

                              <div class="form-group">
                                <%= f.text_field :fullname, autofocus: true, placeholder: "Full name", class: "form-control" %>
                              </div>

                              <div class="form-group">
                                <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "Description", class: "form-control" %>
                              </div>

                              <div class="form-group">
                                <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
                              </div>

                              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                              <% end %>

                              <div class="form-group">
                                <%= f.password_field :password, autocomplete: "off", placeholder: "New password (leave blank if you don't want to change it)", class: "form-control"  %>
                              </div>

                              <div class="form-group">
                                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "form-control"  %>
                              </div>

                              </div>
                              <div class="actions">
                                <%= f.submit "Save", class: "btn btn-normal btn-block" %>
                              </div>
                            <% end %>
                </div>
            </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">Your Phone Number</div>
            <div class="panel-body">
                <div class="container">
                    <% if !current_user.phone_number.blank? %>
                        <h4><%= current_user.phone_number %></h4>
                        <button class="btn btn-default" data-toggle="modal" data-target="#update-phone">Update Phone Number</button>
                        <% if current_user.phone_verified == false %>
                        <button class="btn btn-default" data-toggle="modal" data-target="#verify-phone">Verify</button>
                        <% end %>
                    <% else %>
                    <button class="btn btn-default" data-toggle="modal" data-target="#update-phone">Add Phone Number</button>
                    <% end %>
                </div>
            </div>
        </div>
</div>
    </div>
</div>

<!-- MODAL FOR PHONE NUMBER -->
<div id="update-phone" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Phone Number</h4>
            </div>
            <div class="modal-body">
                <%= form_for current_user, url: update_phone_number_user_path(current_user), method: :post do |f| %>
                    <div class="form-group">
                        <%= f.phone_field :phone_number, class: "form-control", placeholder: "Your Phone Number" %>
                    </div>
                    <div class="text-center">
                        <%= f.submit "Save", class: "btn btn-normal" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


<!-- MODAL FOR PHONE VERIFICATION -->
<div id="verify-phone" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Verification Code</h4>
            </div>
            <div class="modal-body">
                <%= form_for current_user, url: update_phone_number_user_path(current_user), method: :post do |f| %>
                    <div class="form-group">
                        <%= f.phone_field :pin, class: "form-control", placeholder: "Your Pin", value: "" %>
                    </div>
                        <div class="text-center">
                            <%= f.submit "Verify", class: "btn btn-normal" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
