<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">Sign up</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, placeholder: "Full Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>
      <br/></br>

      <div class="actions">
        <%= invisible_recaptcha_tags text: 'Sign up', class: "btn btn-normal btn-block" %>
      </div>
    <% end %>

    <hr/>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>
  </div>
</div>
