<div class="panel">
    <div class="panel-body">
        <strong><%= notification.content %></strong>
        <span class="pull-right"><%= notification.created_at.to_formatted_s(:short) %></span>
    </div>
</div>
