<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <h2 class="text-center">Change your password_confirmation</h2>
        <br/>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'shared/devisemes' %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "New password ", class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password", class: "form-control"  %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
</div>
