<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <h2 class="text-center">Forgot your password?</h2>
        <br/>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render 'shared/devisemes' %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
          </div>
            <%= recaptcha_tags %> 
          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
</div>
