<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <h2 class="text-center">Log in</h2>
        <br/>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class:"form-control"  %>
          </div>

        <div>
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %> Remember me
            <% end %>
            <span class="pull-right">
            <%= link_to "Forgot Password", new_user_password_path %>
            </span>
        </div>
         <br/></br>

               <div class="actions">
                 <%= f.submit "Log in", class: "btn btn-normal btn-block" %>
               </div>
             <% end %>

             <hr/>
             <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>
           </div>
         </div>
