<div class="row">
    <div class="col-md-3">
        <%= render 'room_menu' %>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Location
            </div>

            <div class="panel-body">
                <div class="container">
                    <%= form_for @room do |f| %>

                        <div class="row">
                            <div class="form-group">
                                <label>Adress</label>
                                <%= f.text_field :address, placeholder: "What is your address?", class: "form-control", required: true, id: "autoaddress"%>
                            </div>
                        </div>
                            <div class="class-center">
                            <%= f.submit "Save", class: "btn btn-form" %>
                        </div>

                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

$(function(){
    $("#autoaddress").geocomplete();
})
</script>
