<div class="row">
    <div class="col-md-3">
        <%= render 'room_menu' %>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Pricing
            </div>

            <div class="panel-body">
                <div class="container">
                    <%= form_for @room do |f| %>

                    <div class="row">
                        <div class="form-group">
                            <label>Price</label>
                            <%= f.text_field :price, placeholder: "eg: $100", class: "form-control", required: true%>
                        </div>
                    </div>
                    <div class="class-center">
                        <%= f.submit "Save", class: "btn btn-form" %>
                    </div>
                    </div>

                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>
