
<div class="row">
    <div class="col-md-12">
        <%= image_tag @room.cover_photo(nil), width: "100%" %>

    </div>
</div>
<br/>

<div class="row">
    <!-- LEFT PANEL -->
    <div class="col-md-8">
    <!-- Listing name -->
    <div class="row">
        <div class="col-md-8">
            <h1><%= @room.listing_name %></h1>
            <%= @room.address %>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag avatar_url(@room.user), class: "img-circle avatar-large"%><br/><br/>
            <%= @room.user.fullname %>
        </div>
    </div>
    <hr/>

<!-- Room Info -->
<div class="row text-babu">
    <div class="row text-center row-space-1">
    <div class="col-md-3">
        <i class="fa fa-home fa-2x"></i>
    </div>
    <div class="col-md-3">
        <i class="fa fa-user-circle-o fa-2x"></i>
    </div>
    <div class="col-md-3">
        <i class="fa fa-bed fa-2x"></i>
    </div>
    <div class="col-md-3">
        <i class="fa fa-bath fa-2x"></i>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-3"><%= @room.home_type%></div>
    <div class="col-md-3"><%= pluralize(@room.accomodate, "Guest")%></div>
    <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom")%></div>
    <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom")%></div>
</div>
</div>
<hr/>

<!-- About -->
<div class="row">
<div class="col-md-12">
    <h3>About This Listing</h3>
    <p><%= @room.summary %></p>
</div>
</div>
<hr/>

<!-- Amenities -->
<div class="row">
<div class="col-md-3">
    <h4>Amenities</h4>

</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-6">
            <ul class="amenities">
                <li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
                <li class="<%= 'text-line-through' if !@room.is_kitchen %>">Kitchen</li>
                <li class="<%= 'text-line-through' if !@room.is_internet %>">Internet</li>

            </ul>
        </div>
        <div class="col-md-6">
            <ul class="amenities">
                <li class="<%= 'text-line-through' if !@room.is_heating %>">Heating</li>
                <li class="<%= 'text-line-through' if !@room.is_air %>">Air Conditioning</li>
                <li class="<%= 'text-line-through' if !@room.is_dog %>">Dog Allowed</li>

            </ul>
        </div>
    </div>
</div>
</div>

<hr/>

<!-- Carousel -->
<div class="row">
    <% if @photos.length > 0 %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <% @photos.each do |photo| %>
        <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <% @photos.each do |photo| %>
            <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                <%= image_tag photo.image.url() %>
            </div>
          <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <% end %>
</div>
<hr/>

<!-- GOOGLE MAPS -->
<div class="row">
    <div id="map" style="width: 100%; height: 400px"></div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var location = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 14
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });

            var infoWindow = new google.maps.InfoWindow({
                content: '<div id="content"><%= image_tag @room.cover_photo(:medium)%></div>'
            });

            infoWindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</div>
<hr/>

<!-- REVIEWS -->
<div class="row">
    <div class="col-md-12">
        <h3>
            <%= pluralize(@guest_reviews.count, "Review") %>
            <span id="average_rating"></span>
        </h3>
        <div class="container">
            <div><%= render "reviews/guest_list" %></div>
        </div>
    </div>
</div>
<br/>
<br/>

<!-- NEAR BY ROOMS -->
<div class="row">
  <h3>Near by</h3>
  <% for room in @room.nearbys(10) %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= image_tag room.cover_photo(:medium) %>
          </div>
          <div class="panel-body">
            <%= link_to room.listing_name, room %><br/>
            (<%= room.distance.round(2) %> kms away)
          </div>
        </div>
      </div>
  <% end %>
</div>

  </div>
    <!-- RIGHT PANEL -->
    <div class="col-md-4">
        <!-- Reservation Form -->
<%= render 'reservations/form' %>
    </div>
</div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    scoreName: 'guest_review[star]',
    score: <%= @room.average_rating %>
  });
</script>
