<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-normal" data-toggle="modal" data-target="#myModal_<%= reservation.id %>">
    Review Host</button>

<!-- Modal -->
<div id="myModal_<%= reservation.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review Your Host</h4>
      </div>
      <div class="modal-body">
        <%= form_for current_user.guest_reviews.new do |f| %>
        <div class="form-group text-center">
            <div id="stars"></div>
        </div>
          <div class="form-group">
              <%= f.text_area :comment, row: 3, class: "form-control" %>
          </div>

                <%= f.hidden_field :room_id, value: reservation.room.id %>
                <%= f.hidden_field :reservation_id, value: reservation.id %>
                <%= f.hidden_field :host_id, value: reservation.room.user.id %>

                <div class="text-center">
                    <%= f.submit "Add Review", class: "btn btn-normal" %>
                </div>
          <% end %>
        </div>
    </div>

  </div>
</div>


<script>
  $('#stars').raty({
    path: '/assets',
    scoreName: 'guest_review[star]',
    score: 1
  });
</script>
