<% if @host_reviews.count == 0 %>
    <div class="text-center">
        <h4>There are no reviews.</h4>
    </div>
<% else %>

    <% @host_reviews.order(id: :desc).each do |r| %>
        <hr/>
        <div class="row">
            <div class="col-md-3 text-center">
                <%= image_tag avatar_url(r.host), class: "img-circle avatar-medium" %><br/><br/>
                <strong><%= r.host.fullname %></strong>
            </div>
            <div class="col-md-9">
                <divid="star_<%= r.id %>"></div>
                <% if current_user && current_user == r.host %>
                <span class="pull-right">
                    <%= link_to r, method: :delete, data: {confirm: "Are you sure?"} do %>
                        <i class="fa fa-trash-0 fa-lg"></i>
                    <% end %>
                </span>
                <% end %>
            </div>
            <div><%= r.created_at.strftime("%v") %></div>
            <div><%= r.comment %></div>
        </div>


        <script>
          $('#average_rating').raty({
            path: '/assets',
            readOnly: true,
            scoreName: 'guest_review[star]',
            score: <%= @room.average_rating %>
          });
        </script>

    <% end %>
<% end %>
